<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static "css/all.css" %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>
<body>
    <h1>Filter Employee Details</h1><hr>
    <table class="table table-striped table-dark">
        <thead>
          <tr>
           
            <th scope="col">FirstName</th>
            <th scope="col">LastName</th>
            <th scope="col">Department</th>
            <th scope="col">Salary</th>
            <th scope="col">Mobile</th>
            <th scope="col">Address</th>
          </tr>
        </thead>
        {%for emp in data%}
        <tbody>
          <tr>
            
            <td>{{emp.firstname}}</td>
            <td>{{emp.lastname}}</td>
            <td>{{emp.dept}}</td>
            <td>{{emp.salary}}</td>
            <td>{{emp.mobile}}</td>
            <td>{{emp.add}}</td>
            
        </tr>
         
        </tbody>
        {%endfor%}
       
      </table>
      <div class="container"><a class="btn btn-primary" href="/index" role="button">Back to Home</a></div>
</body>
</html>