h1{
    text-align: center;
    color: white;
}
div{
    text-align: center;
    margin-top: 120px;
    
    
}
body{
    background: url(https://media.istockphoto.com/id/1362365251/photo/abstract-technology-wave-of-particles-big-data-visualization-background-with-motion-dots-and.jpg?b=1&s=170667a&w=0&k=20&c=njm3rlFn1WftFfmGjecwdwCYOeJzhPmRaCjoW-uYsv4=);
    background-repeat: no-repeat;
    background-size: cover;
}
form{
    color: white;
}